@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: Index.cshtml
    **
    **  Description:
    **      Index of NotesFiles
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model IEnumerable<NoteFile>

@{
    ViewData["Title"] = "Index";
    TZone tz = (TZone)ViewBag.TZ;
}

<h2>NoteFile List</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoteFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteFileTitle)
        </td>
        <td>
            @tz.Local(item.LastEdited) @tz.Abbreviation
        </td>
        <td>
            @Html.ActionLink("View", "Viewit", new { id = item.NoteFileID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteFileID }) 
        </td>
    </tr>
}

</table>
