@using Notes2017.Models
@model Sequencer

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sequencer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ordinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordinal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
