@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: Details.cshtml
    **
    **  Description:
    **      Show details about a subscription
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model Subscription

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Subscription</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoteFileID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoteFileID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubscriberID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubscriberID)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
