@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: Headers.cshtml
    **
    **  Description:
    **      Show raw Note header data
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model IEnumerable<BaseNoteHeader>

@{
    ViewData["Title"] = "Headers";
}

<h2>Headers</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BaseNoteHeaderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteOrdinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteSubject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Responses)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BaseNoteHeaderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteOrdinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Responses)
        </td>
    </tr>
}
</table>
<p>
    <a asp-action="Index">Back to List</a>
</p>
