@model IEnumerable<Notes2017.Models.Sequencer>

@{
    ViewData["Title"] = "Sequencer";
}

<h2>Sequencer</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ordinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteFileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ordinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
    </tr>
}
</table>
<p>
    <a asp-action="Index">Back to List</a>
</p>