@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConcurrencyStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ipref8)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyStyle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalizedEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NormalizedUserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PasswordHash)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecurityStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeZoneID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TwoFactorEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pref8)
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccessFailedCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ipref8)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyStyle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalizedEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NormalizedUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordHash)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecurityStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeZoneID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pref8)
        </td>
    </tr>
}
</table>
